body{
    background: #343744;
    color : black;
    text-align: left;
    font-family: Arial;
    margin-top: 2em;
}

#cabecera{
    background-color: #44bd32;
    box-shadow: 3px 6px 6px 0px rgba(0,0,0,0.75);
    margin: 0;
    color: white;
    font-weight: bold;
    font-size: 25px;
    padding: 0.5em;
}

#cabecera #logo{
    width: 50px;
    vertical-align: middle;
    padding: 0 0.5em 0 0;
}

#contenedor{
    background: #f5f6fa;
    border: 1px solid whitesmoke;
    width: 70%;
    margin: 0 auto;
    padding: 0;
} 

#cabecera span{
    color: white;
    font-weight: normal;
    padding: 0 0 0 1em;
    font-size: 0.7em;
}

#post{
    padding: 1em;
}

#footer{
    background-color:cadetblue;
    color:white;
    padding:0.5em;
    text-align: center;
    text-decoration: underline;
}